<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
        <title>Items Index Page</title>
    </head>
    <body>
Bubbles On Venus Main Page <br/>

<a href="/products">PRODUCTS PAGE</a>
    </body>

    
</html>


