<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
        <title>Items Index Page</title>
    </head>
    <body>
    <header>
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/users'>Users Index</a></li>
                </ul> 
            </nav>
        </header>
        <h1>Products Index Page</h1>
        <ul>
            <%products.forEach(function(product,index){ %>
            <li>
                <a href="/products/<%=product._id%>"><%=product.name%></a> 
                <form method='POST' action='/products/<%=product._id%>?_method=DELETE'>
                    <input type="submit" name='' value="DELETE"/>
                </form>
            </li>
            <% }) %>
        </ul>
        <a href="/products/new">Add New Product</a>
    </body>
</html>
